In [1]:
import pandas as pd

In [10]:
result_model_mol2vec = pd.read_csv('./y_test_class2num_reg_model_mol2vec.csv', index_col=0)
result_model_mol2vec.head(2)

           num  n_error  class_in_train  accuray_in_each_class
10101010  5000      160               0                  0.968
11101010  5000      150               0                  0.970

In [11]:
cols = result_model_mol2vec.columns.to_list()
cols

['num', 'n_error', 'class_in_train', 'accuray_in_each_class']

In [12]:
result_model_mol2vec.rename(columns={i: i + '_mol2vec' for i in cols}, inplace=True)
result_model_mol2vec.head(2)

,num_mol2vec,n_error_mol2vec,class_in_train_mol2vec,accuray_in_each_class_mol2vec
10101010,5000,160,0,0.968
11101010,5000,150,0,0.970

In [14]:
result_parellel = pd.read_csv('./y_test_class2num_reg_paralle.csv', index_col=0)
result_parellel.rename(columns={i: i + '_parallel' for i in cols}, inplace=True)
result_parellel.head(2)

,num_parallel,n_error_parallel,class_in_train_parallel,accuray_in_each_class_parallel
10101010,5000,1412,0,0.7176
11101010,5000,177,0,0.9646

In [15]:
result_tandem = pd.read_csv('./y_test_class2num_reg_tandem.csv', index_col=0)
result_tandem.rename(columns={i: i+ '_tandem' for i in cols}, inplace=True)
result_tandem.head(2)

,num_tandem,n_error_tandem,class_in_train_tandem,accuray_in_each_class_tandem
10101010,5000,803,0,0.8394
10101111,5000,531,0,0.8938

In [16]:
result_random = pd.read_csv('./y_test_class2num_reg_random_init.csv', index_col=0)
result_random.rename(columns={i: i + '_random' for i in cols}, inplace=True)
result_random.head(2)

,num_random,n_error_random,class_in_train_random,accuray_in_each_class_random
11101010,5000,3470,0,0.3060
10101111,5000,457,0,0.9086

In [18]:
tmp1 = result_model_mol2vec.merge(result_parellel.loc[:, ['accuray_in_each_class_parallel']], left_index=True, right_index=True)
tmp1.head(2)

,num_mol2vec,n_error_mol2vec,class_in_train_mol2vec,accuray_in_each_class_mol2vec,accuray_in_each_class_parallel
10101010,5000,160,0,0.968,0.7176
11101010,5000,150,0,0.970,0.9646

In [19]:
tmp2 = tmp1.merge(result_tandem.loc[:, ['accuray_in_each_class_tandem']], left_index=True, right_index=True)
tmp2.head(2)

,num_mol2vec,n_error_mol2vec,class_in_train_mol2vec,accuray_in_each_class_mol2vec,accuray_in_each_class_parallel,accuray_in_each_class_tandem
10101010,5000,160,0,0.968,0.7176,0.8394
11101010,5000,150,0,0.970,0.9646,0.7158

In [20]:
final_result = tmp2.merge(result_random.loc[:, ['accuray_in_each_class_random']], left_index=True, right_index=True)
final_result.head(2)

,num_mol2vec,n_error_mol2vec,class_in_train_mol2vec,accuray_in_each_class_mol2vec,accuray_in_each_class_parallel,accuray_in_each_class_tandem,accuray_in_each_class_random
10101010,5000,160,0,0.968,0.7176,0.8394,0.4014
11101010,5000,150,0,0.970,0.9646,0.7158,0.3060

In [21]:
final_result.drop(columns=['n_error_mol2vec'], inplace=True)

In [22]:
final_result.to_csv('merged_y_test_class_accuracy.csv')