In [1]:
import pandas as pd

In [20]:
down_sampled = pd.read_csv('../big-data/moses_dataset/result/mol2md_downsampled.csv', index_col='cid')
down_sampled.head(2)

          nN  nS  nO  nX  nBondsD  nBondsT  naRing  nARing
cid
id924952   0   0   0   0        1        0       0       8
id57340    0   0   0   6        0        0       0       0

In [11]:
selected_md = ['nN', 'nS', 'nO', 'nX', 'nBondsD', 'nBondsT', 'naRing', 'nARing']

In [21]:
down_sampled[down_sampled >= 1] = 1

In [22]:
down_sampled['class'] = down_sampled.apply(lambda x: ''.join([str(i) for i in x]), axis=1)

In [23]:
down_sampled.head(2)

          nN  nS  nO  nX  nBondsD  nBondsT  naRing  nARing     class
cid
id924952   0   0   0   0        1        0       0       1  00001001
id57340    0   0   0   1        0        0       0       0  00010000

In [27]:
down_sampled.groupby('class').count()

            nN    nS    nO    nX  nBondsD  nBondsT  naRing  nARing
class
00001001     1     1     1     1        1        1       1       1
00010000     6     6     6     6        6        6       6       6
00010110     1     1     1     1        1        1       1       1
00100001    81    81    81    81       81       81      81      81
00100010   489   489   489   489      489      489     489     489
...        ...   ...   ...   ...      ...      ...     ...     ...
11111011  5000  5000  5000  5000     5000     5000    5000    5000
11111100     2     2     2     2        2        2       2       2
11111101    13    13    13    13       13       13      13      13
11111110  4710  4710  4710  4710     4710     4710    4710    4710
11111111  1218  1218  1218  1218     1218     1218    1218    1218

[140 rows x 8 columns]

In [9]:
import numpy as np
from sklearn.metrics import pairwise_distances
from sklearn.preprocessing import normalize

In [7]:
a = np.array([[0, 0], [3, 4]])

In [8]:
pairwise_distances(a)

array([[0., 5.],
       [5., 0.]])

In [11]:
pairwise_distances(normalize(a))

array([[0., 1.],
       [1., 0.]])